.draft-container {
}

.draft-divider {
    opacity: 0.27;
}

.team-draft-container {
    width: 100%;
}

.team-draft-container-inner {
    width: 80%;
    margin: 2% auto 0 auto;
}

.team-column {
    min-width: 200px;   
}

.general-champ-column {
    min-width: 200px;   
}

@media screen and (max-width: 768px) {
    .team-column {
        width: 100%;   
    }
    
    .general-champ-column {
        width: 100%;   
    }
}

.team-display {
    width: 100%;
    margin: 0 auto;
}

.champ-display {
    width: 100%;
    margin: 0 auto;
}


@font-face {
    font-family: "proximaNovaBold";
    src: url("/fonts/proximanovabold.otf");
}

.team-name {
    font-family: "proximaNovaBold";
    font-size: 14px;
    text-align: center;
    color: white;
    margin-top: 5px;
}

.banned-champions-text {
    font-family: "proximaNovaBold";
    font-size: 12px;
    text-align: center;
    color: white;
    margin-top: 2px;
}

.player-name {
    position: relative;
    top: -15px;
    font-family: "proximaNovaBold";
    font-size: 14px;
    text-align: center;
    color: white;
    margin-top: 0px;
}

.player-name-large {
    font-family: "proximaNovaBold";
    font-size: 20px;
    color: white;
    text-align: left;
    line-height: 1;
}

.team-image {
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 100px;
    border-radius:50%;
    overflow:hidden;
    margin:auto;
}

.team-image-flex {
    flex-grow: 0;
    margin: 0 !important;
}

.champ-column {
    min-width: 100px;
    padding: 0;
    margin: 0 auto;
}

.player-image {
    width: 50px;
    height: 50px;
    border-radius:50%;
    overflow:hidden;
    margin:auto;
    z-index: 3;
    position: relative;
    top: -25px;
    border: 3px solid white;
}

.player-champ {
    width: 80%;
    min-width: 80px;
    height: auto;
    margin:auto;
    z-index: 2;
    border: 3px solid white;
}

.player-stats-container {
    margin-top: 30px;
}

.player-stats-container .player-champ {
    
}

.flipped .player-stats-container .player-champ {
    transform: scaleX(-1);
}

.player-stats-container .player-image {
    
}

.player-stat-container-inner {
    align-items: flex-start;
    flex-shrink: 0;
}

.ban-champ-container {
    padding: 3px;
}

.ban-champ {
    background-size: cover;
    background-position: center;
    width: 50px;
    height: 50px;
    overflow:hidden;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid white;
}

.match-nav {
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    height: 10%;
    width: 100%;
    
    display: flex;
}

.match-vertical-center {
    align-self: center;
}

.match-nav-button {
    font-family: "proximaNovaBold";
    font-size: 22px;
    text-align: center;
    margin: 5px auto 0;
    
    display: inline-block;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .match-nav-button {
        font-size: 14px;
    }
}

.match-nav-signal {
    width: 33%;
    height: 10%;
    background-color: rgb(255, 186, 0);
}

.match-nav-button:link {
    color: white;
    text-decoration: none;
}

.match-nav-button:active {
    color: white;
    text-decoration: none;
}

.match-nav-button:visited {
    color: white;
    text-decoration: none;
}

.match-nav-button:hover {
    color: white;
    text-decoration: none;
}

.game-stats-container {
    margin-top: 1% !important;
    width: 80%;
}

.team-game-stats-container {
    min-width: 200px;
    flex-grow: 2;
}

.game-stats-container-inner {
    width: 100%;
    margin: 0 auto;
    align-items: flex-start;
}

@font-face {
    font-family: "proximaNovaCond";
    src: url("/fonts/proximanovacond.otf");
}

.team-champ-kills-large {
    font-family: proximaNovaCond;
    font-size: 100px;
    text-align: center;
    color: white;
    vertical-align: middle;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}

.team-champ-kills-large-flex {
    flex-grow: 0;
    align-self: flex-start;
    margin: 0 !important;
}

@media screen and (max-width: 1255px) {
    .team-champ-kills-large {
        font-size: 50px;
    }
    
    .team-game-stats-container {
        order: 2;   
    }
    
    .time-container {
        width: 100%;    
    }
}

.time-display-outer {
    text-align: center;
}

.time-display-inner {
    display: inline-block;
}

.time-container {
    min-width: 100px;
    flex-grow: 1;
}

.time-text {
    font-family: "proximaNovaCond";
    font-size: 65px;
    text-align: center;
    color: white;
    line-height: 1;
}

.time-caption {
    font-family: "proximaNovaCond";
    font-size: 14px;
    text-align: center;
    color: white;
    position: relative;
    top: -5px;
    line-height: 1;
}

.team-stats-item {
}

.team-stats-image {
    border-radius: 50%;
    padding: 5px;
    width: 25px;
    height: 25px;
}

.team-stats-text {
    font-family: "proximaNovaCond";
    font-size: 14px;
    text-align: center;
    color: white;
    margin: 0;
    padding-left: 5px;  
    padding-right: 15px;
}

.team-stats-container {
}

.flipped .team-stats-container {
    transform: scaleX(-1);
}

.flipped .team-stats-item p {
    transform: scaleX(1);
}

.stat-bar {
    width: 180px;
    height: 20px;
    background: none;
}

.stat-bar::-webkit-meter-bar {
    background: none;
}

.kill-bar::-webkit-meter-optimum-value {
    background: #a10dc1;
    background-size: 100% 100%;
}

.death-bar::-webkit-meter-optimum-value {
    background: #303030;
    background-size: 100% 100%;
}

.assist-bar::-webkit-meter-optimum-value {
    background: #218ec6;
    background-size: 100% 100%;
}


.creep-bar::-webkit-meter-optimum-value {
    background: #ea8c1c;
    background-size: 100% 100%;
}

.kill-bar::-moz-meter-bar {
    background: #a10dc1;
    background-size: 100% 100%;
}

.death-bar::-moz-meter-bar {
    background: #303030;
    background-size: 100% 100%;
}

.assist-bar::-moz-meter-bar {
    background: #218ec6;
    background-size: 100% 100%;
}


.creep-bar::-moz-meter-bar {
    background: #ea8c1c;
    background-size: 100% 100%;
}

.stat-bar-ie {
    width: 180px;
    height: 20px;
    background-color: transparent;
    display: block;
}

.stat-bar-ie > span {
    height: inherit;
    display: block;
}

.kill-bar-ie > span {
    background-color: #a10dc1;
    background-size: 100% 100%;
}

.death-bar-ie > span {
    background-color: #303030;
    background-size: 100% 100%;
}

.assist-bar-ie > span {
    background-color: #218ec6;
    background-size: 100% 100%;
}

.creep-bar-ie > span {
    background-color: #ea8c1c;
    background-size: 100% 100%;
}

.stat-describe-label {
    position: relative;
    top: 0;
    left: -176px;
    z-index: 2;
    font-family: "proximaNovaCond";
    font-size: 12px;
    color: white;
    margin : 0;
    width: 100px;
}

.flipped .stat-describe-label {
    text-align: right;
}

.stat-text {
    font-family: "proximaNovaBold";
    font-size: 14px;
    color: white;
    margin-bottom: 0;
    margin-left: 5px;
    
    position: relative;
    left: -100px;
}

@media screen and (max-width: 1087px) {
    .flipped .player-stats-container {
        transform: scaleX(-1);   
    }
    
    .flipped .player-stats-container .player-champ {
        transform: scaleX(1);
    }

    .flipped .team-stats-container {
        transform: scaleX(-1);
    }

    .flipped .team-stats-item p {
        transform: scaleX(1);
    }

    .flipped .stat-describe-label {
        text-align: left;
        transform: scaleX(1);
    }
    
    .flipped .stat-text {
        transform: scaleX(1);
    }

    .flipped .player-name-large {
        transform: scaleX(1);
    }
    
    .flipped .team-basics-container {
        transform: scaleX(-1);   
    }

    .flipped .team-champ-kills-large-flex {
        transform: scaleX(1);
    }
}