<div class="rbd-container player-stat-container-inner">
    <div class="rbd-container flex-vertical">
        <img class="player-champ horizontal-center-div" src="{{player.champ}}"></img>
        <img class="player-image horizontal-center-div" src="{{player.player}}"></img>
    </div>

    <div class="rbd-container flex-vertical flex-start-align">
        <p class="player-name-large">{{player.playerName}}</p>
        
        <progress max="10" value="5" class="stat-bar kills-bar">
        </progress>
        
        <progress max="10" value="2" class="stat-bar deaths-bar">
        </progress>
        
        <progress max="10" value="8" class="stat-bar assists-bar">
        </progress>
        
        <progress max="10" value="3" class="stat-bar creeps-bar">
        </progress>
    </div>
</div>