<div class="rbd-container player-stat-container-inner">
    <div class="rbd-container flex-vertical">
        <img class="player-champ horizontal-center-div" src="{{player.champ}}"></img>
        <img class="player-image horizontal-center-div" src="{{player.player}}"></img>
    </div>

    <div class="rbd-container flex-vertical flex-start-align">
        <p class="player-name-large">{{player.playerName}}</p>
        <div ng-stat-bar barclass="kill-bar" min=0 max={{$parent.overallStats.kills}} value={{player.stats.kills}} percentage={{player.percentages.kills}} label="KILLS"></div>
        <div ng-stat-bar barclass="death-bar" min=0 max={{$parent.overallStats.deaths}} value={{player.stats.deaths}} percentage={{player.percentages.deaths}} label="DEATHS"></div>
        <div ng-stat-bar barclass="assist-bar" min=0 max={{$parent.overallStats.assists}} value={{player.stats.assists}} percentage={{player.percentages.assists}} label="ASSISTS"></div>
        <div ng-stat-bar barclass="creep-bar" min=0 max={{$parent.overallStats.creeps}} value={{player.stats.creeps}} percentage={{player.percentages.creeps}} label="CREEPS"></div>
    </div>
</div>