<div ng-include src="'/partials/match/nav.html'"></div>
<div class="rbd-container game-stats-container full-width horizontal-center-div">
    <div class="rbd-container game-stats-container-inner horizontal-center-div">
        <div class="team-game-stats-container" ng-include ng-controller="TeamGameOverViewController" src="'/partials/match/game/teamOverview.html'" ng-init="initWithTeamIndex(0)"></div>
        <div class="time-container" ng-include src="'/partials/match/time.html'"></div>
        <div class="team-game-stats-container flipped" ng-include ng-controller="TeamGameOverViewController" src="'/partials/match/game/teamOverview.html'" ng-init="initWithTeamIndex(1)"></div>
    </div>
</div>