<div class="row full-width match-nav">
    <div class="col-md-4 match-vertical-center">
        <a href="draft" type="button" class="match-nav-button" role="button">
            <div class="match-nav-signal horizontal-center-div" ng-if="isDraftBan !== undefined"></div>
            PICKS AND BANS
        </a>
    </div>

    <div class="col-md-4 match-vertical-center">
        <a href="match" type="button" class="match-nav-button" role="button">
            <div class="match-nav-signal horizontal-center-div" ng-if="isGameStats !== undefined"></div>
            GAME
        </a>
    </div>

    <div class="col-md-4 match-vertical-center">
        <a href="post" type="button" class="match-nav-button" role="button">
            <div class="match-nav-signal horizontal-center-div" ng-if="isPostmatch !== undefined"></div>
            MATCH SUMMARY
        </a>
    </div>
</div>