<div class="col-md-3">
  <h4>MATCHES FOR <span class="bold">{{currentDate}}</span></h4>
</div>

<div class="col-md-7">
  <form>
    <span id="match-search">
      <input type="search" placeholder="Search for current matches"></input>
      <a href="#"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
    </span>
  </form>
</div>

<div class="col-md-2">
  <button id="filter-link" ng-click="toggleFilter()">FILTER MATCHES <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></button>
  <div id="match-filter">
    <div class="container-fluid nopadding">
      <div class="row" id="match-filter-header">
        <div class="col-md-6"><span class="bold">Show Only</span></div>
        <div class="col-md-6"><span class="bold">By Date</span></div>
      </div>
    </div>
  </div>
</div>
