<div class="row team-draft-container-inner" ng-controller="TeamDraftController">
    <!-- Team Display -->
    <div class="col-md-2">
        <figure>
            <div class="team-image" style="background-image: url('/images/teams/cloud9.png');" ></div>
            <figcaption class="team-name">Cloud 9</figcaption>
        </figure>
    </div>

    <div class="col-md-10">
        <!-- Champ Display -->
        <div class="container-fluid">
            <div class="row">
                <div ng-repeat="champ in allChampions">
                    <div ng-champion-draft champ="{{champ.champ}}" player="{{champ.player}}"></div>
                </div>
                
                <div class="col-md-2"></div>
            </div>

            <!-- Ban Display -->
            <div class="row">            
                <div id="bans">

                </div>
            </div>
        </div>
    </div>

</div>