<div class="row team-draft-container-inner" ng-controller="TeamDraftController">
    <!-- Team Display -->
    <div class="col-xs-2 team-column">
        <div class="team-display">
            <figure>
                <div class="team-image" style="background-image: url('/images/teams/cloud9.png');" ></div>
                <figcaption class="team-name">Cloud 9</figcaption>
            </figure>

            <!-- Ban Display -->
            <div class="container-fluid">
                <div class="row">   
                    <div ng-repeat="ban in allBans track by $index">
                        <div ng-ban-draft champ="{{ban}}"></div>
                    </div>
                </div>

                <div class="row">
                    <p class="banned-champions-text">BANNED CHAMPIONS</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-xs-8 general-champ-column">
        <!-- Champ Display -->
        <div class="champ-display">
            <div class="container-fluid">
                <div class="row">
                    <div ng-repeat="champ in allChampions">
                        <div ng-champion-draft champ="{{champ.champ}}" player="{{champ.player}}" playername="{{champ.playerName}}"></div>
                    </div>

                    <div class="col-xs-2"></div>
                </div>
            </div>
        </div>
    </div>

</div>