<<define "tpre">>
    <base href="/login/"></base>
<<end>>
<<define "thead">>
    <script src="/javascript/login/login.js"></script>
<<end>>

<<define "tbody">>
<h1>LOGIN PAGE</h1>
<form name="loginForm" ng-controller="LoginController">
  <div>
    <label>Username:</label>
    <input type="text" name="username" ng-model="user.username" required></input>
    <span ng-show="loginForm.username.$error.required && !loginForm.username.$pristine">Required</span>
  </div>
  
  <div>
    <label>Password:</label>
    <input type="password" name="password" ng-model="user.password" ng-minlength="<<.MinimumPasswordLength>>" required></input>
    <span ng-show="loginForm.password.$error.required && !loginForm.password.$pristine">Required</span>
    <span ng-show="loginForm.password.$error.minlength && !loginForm.password.$pristine">Password must be at least <<.MinimumPasswordLength>> characters long.</span>
  </div>
  
  <span ng-show="!loginSucceed">Username/password do not match.</span>
  
  <div>
    <button ng-click="login(user)" ng-disabled="loginForm.$invalid" class="btn btn-primary">Login</button>
    <a class="btn btn-success" href="/register">Register</a>
  </div>
</form>
<<end>>
