<div class="rbd-container flex-vertical">
    <div class="rbd-container team-basics-container">
        <div class="team-image team-image-flex" style="background-image: url('/images/teams/cloud9.png');" ></div>
        <div class="rbd-container">
            <p class="team-champ-kills-large team-champ-kills-large-flex">30</p>
        </div>
    </div>
    
    <div class="rbd-container team-stats-container">
        <div class="rbd-container team-stats-item">
            <img class="team-stats-image" style="background-color: #ff9600;" src="/images/icons/gold.png"></img>
            <p class="team-stats-text">25.2k</p>
        </div>
    
        <div class="rbd-container team-stats-item">
            <img class="team-stats-image" style="background-color: #4d8d91;" src="/images/icons/towers.png"></img>
            <p class="team-stats-text">3</p>
        </div>

        <div class="rbd-container team-stats-item">
            <img class="team-stats-image" style="background-color: #9908cf;" src="/images/icons/dragons.png"></img>
            <p class="team-stats-text">3</p>
        </div>

        <div class="rbd-container team-stats-item">
            <img class="team-stats-image" style="background-color: #e9521d;" src="/images/icons/baron.png"></img>
            <p class="team-stats-text">3</p>
        </div>

        <div class="rbd-container team-stats-item">
            <img class="team-stats-image" style="background-color: #a50000;" src="/images/icons/kills.png"></img>
            <p class="team-stats-text">3</p>
        </div>
    </div>

    <div class="rbd-container flex-vertical player-stats-container">
        <div ng-repeat="player in allPlayers">
            <div ng-player-stats player="player"></div>
        </div>
    </div>
</div>